@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Prefeitura Municipal de Alto Paraíso - RO</title>
    <!-- Todo: Fazer o min dos arquivos css e js (talvez usar o bundles)-->
    <environment names="Development">
        <!-- core CSS -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/animate.min.css">
        <link rel="stylesheet" href="~/css/owl.carousel.css">
        <link rel="stylesheet" href="~/css/owl.transitions.css">
        <link rel="stylesheet" href="~/css/prettyPhoto.css">
        <link rel="stylesheet" href="~/css/main.css">
        <link rel="stylesheet" href="~/css/responsive.css">

        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <link rel="stylesheet" href="~/css/site.all.min.css" asp-append-version="true" />

    </environment>

    <link rel="shortcut icon" href="~/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/images/ico/apple-touch-icon-57-precomposed.png">

    <!-- Redirecionamento -->
    <!--[if lt IE 9]>
            <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
        <![endif]-->
    <!--[if lt IE 8]>
            <script type="text/javascript">
            //<![CDATA[
                location.href="http://updateyourbrowser.net/pt/";
            //]]>
        </script>
    <![endif]-->
    <!-- Open Graph : SEO -->
    <meta name="description" content="Página inicial">
    <!--<meta name="canonical" content="http://www.altoparaisor.ro.gov.br">-->
    <!-- /Open Graph : SEO -->
    <!-- Open Graph : Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@@pmap">
    <meta name="twitter:creator" content="@@CleytonFerrari">
    <meta name="twitter:title" content="@ViewData["Title"] - Prefeitura Municipal de Alto Paraíso - RO">
    <meta name="twitter:description" content="@ViewData["Title"] - Prefeitura Municipal de Alto Paraíso - RO">
    <!--<meta name="twitter:image:src" content="http://opengraph.apphb.com/Content/TISelvagemPost.png">-->
    <meta name="twitter:domain" content="altoparaiso.ro.gov.br">
    <meta name="twitter:url" content="http://www.altoparaiso.ro.gov.br/">
    <!-- /Open Graph : Twitter -->
    <!-- Open Graph : Facebook -->
    <meta name="fb:admins" content="cleytonferrari">
    <meta name="og:url" content="http://www.altoparaiso.ro.gov.br/">
    <meta name="og:type" content="article">
    <meta name="og:title" content="@ViewData["Title"] - Prefeitura Municipal de Alto Paraíso - RO">
    <!--<meta name="og:image" content="http://opengraph.apphb.com/Content/TISelvagemPost.png">-->
    <meta name="og:description" content="Página inicial">
    <meta name="og:site_name" content="Prefeitura Municipal de Alto Paraíso - RO">
    <meta name="og:locale" content="pt-BR">
    <meta name="article:author" content="https://www.facebook.com/cleytonferrari">
    <!-- <meta name="article:publisher" content="https://www.facebook.com/pmap"> -->
    <meta name="article:section" content="Público">
    <meta name="article:tag" content="Prefeitura">
    <meta name="article:tag" content="Governo">
    <!-- /Open Graph : Facebook -->
    <!-- Open Graph : Google Plus -->
    <link rel="author" href="https://plus.google.com/+cleytonferrari" />
    <meta itemprop="name" content="@ViewData["Title"] - Prefeitura Municipal de Alto Paraíso - RO">
    <meta itemprop="description" content="Página inicial">
    <!--<meta itemprop="image" content="http://opengraph.apphb.com/Content/TISelvagemPost.png">-->
    <!-- /Open Graph : Google Plus -->


    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body id="home" class="homepage">

    <div class="container-fluid menutopo hidden-xs ">
        <div class="container">
            <ul class="nav nav-pills col-md-8 col-sm-12 hidden-sm">
                <li><a accesskey="1" href="#conteudo" id="link-conteudo" title="Conteúdo">Ir para o conteúdo <span>[1]</span></a></li>
                <li><a accesskey="2" href="#menuprincipal" id="link-navegacao" title="Menu Principal">Ir para o menu <span>[2]</span></a></li>
                <li><a accesskey="3" href="#footer" id="link-rodape" title="Rodapé do site">Ir para o rodapé <span>[3]</span></a></li>
                <li><a accesskey="4" href="#!" class="button-toggle-highcontrast" id="contraste" title="Alterar o contraste do site">Contraste <span>[4]</span></a></li>
            </ul>

            <ul class="nav nav-pills col-md-4 ">
                <li><a class="icon-esic" href="http://186.219.242.86:5659/transparencia/index.php?link=aplicacoes/esic/frmesic&nomeaplicacao=esic" title="Lei de Acesso à Informação">e-SIC</a></li>
                <li><a href="http://186.219.242.86:5659/transparencia" title="Acesse o Portal da Transparência">Portal da Transparência</a></li>
            </ul>
        </div>
    </div>


    <header id="header">
        <nav id="main-menu" class="navbar navbar-default" role="banner">
            <div class="container-fluid max-width1200">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand hidden-sm " href="~/"><img src="~/images/logo.png" alt="logo"></a>
                    <a class="navbar-brand hidden-xs hidden-md hidden-lg" href="~/"><img src="~/images/logo-mini.png" alt="logo"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul id="menuprincipal" class="nav navbar-nav">
                        <li class="scroll hidden-xs hidden-sm hidden-md"><a href="~/">Início</a></li>

                        <li class="scroll dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Alto Paraíso<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="https://pt.wikipedia.org/wiki/Alto_Paraíso_(Rondônia)">História de Alto Paraíso</a></li>
                                <li><a href="http://cidades.ibge.gov.br/xtras/perfil.php?lang=&codmun=110040">Dados do Município</a></li>
                            </ul>
                        </li>
                        

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Prefeitura<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" asp-controller="prefeitura" asp-action="equipedegoverno">Equipe de Governo</a></li>
                                <li><a asp-area="" asp-controller="prefeitura" asp-action="unidades">Secretarias e órgãos</a></li>
                                <li><a href="http://186.219.242.86:5659/transparencia/aplicacoes/publicacao/download.php?id_doc=000021&extencao=PDF">Lei Orgânica do Município</a></li>
                                <li><a href="http://186.219.242.86:5659/transparencia/index.php?link=aplicacoes/publicacao/frmpublicacao&grupo=&nomeaplicacao=publicacao">Leis Municipais</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cidadão<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://186.219.242.86:5659/transparencia/index.php?link=aplicacoes/esic/frmesic&nomeaplicacao=esic">Ouvidoria</a></li>
                                <li><a href="http://186.219.242.86:5660/servicosweb/">Tributos Online</a></li>
                                <li><a href="http://186.219.242.86:5659/transparencia">Portal da Transparência</a></li>
                                <li><a href="http://186.219.242.86:5659/transparencia/index.php?link=aplicacoes/publicacao/frmpublicacao&grupo=&nomeaplicacao=publicacao">Beneficiários de Bolsa Família</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Empresa<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://186.219.242.86:5660/issweb">Nota Fiscal de Serviço</a></li>
                                <li><a href="http://186.219.242.86:5659/transparencia/index.php?link=aplicacoes/licitacao/frmlicitacao&id_menu=3&qt_acessos=5630">Licitações</a></li>
                                <li><a href="http://186.219.242.86:5659/transparencia/index.php?link=aplicacoes/publicacao/frmpublicacao&grupo=&nomeaplicacao=publicacao">Editais das Licitações</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Servidor<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://186.219.242.86:5660/sipweb">Contracheque</a></li>
                                <li><a href="http://email.altoparaiso.ro.gov.br">E-mail institucional</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->


    <div id="conteudo">
        @RenderBody()
    </div>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    @DateTime.Now.Year Prefeitura Municipal de Alto Paraíso - RO.
                </div>
                <div class="col-sm-6">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    (69) 3534-2104 / 3534-211 Segunda à Sexta das 07:30h às 12:00h e das 14:00h às 17:30h
                </div>
            </div>
        </div>
    </footer><!--/#footer-->


    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/mousescroll.js"></script>
        <script src="~/js/smoothscroll.js"></script>
        <script src="~/js/jquery.prettyPhoto.js"></script>
        <script src="~/js/jquery.isotope.min.js"></script>
        <script src="~/js/jquery.inview.min.js"></script>
        <script src="~/js/wow.min.js"></script>
        <script src="~/js/main.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>

    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/mousescroll.js"></script>
        <script src="~/js/smoothscroll.js"></script>
        <script src="~/js/jquery.prettyPhoto.js"></script>
        <script src="~/js/jquery.isotope.min.js"></script>
        <script src="~/js/jquery.inview.min.js"></script>
        <script src="~/js/wow.min.js"></script>
        <script src="~/js/main.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
