@model dynamic
@{
    ViewData["Title"] = "Secretarias, Órgãos e Unidades do munícipio de Alto Paraíso - RO";
}

<div class="container">


    <ol class="breadcrumb">
        <li><a href="~/">Início</a></li>
        <li>Prefeitura</li>
        <li><a asp-area="" asp-controller="prefeitura" asp-action="unidades" class="active">Unidades</a></li>
    </ol>
</div>
<section id="portfolio">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Unidades</h2>
            <p class="text-center wow fadeInDown">Conheça as Secretarias, Órgãos e Departamentos do município de Alto Paraíso - RO.</p>
        </div>
        <div class="text-center">
            <ul class="portfolio-filter">
                <li><a class="active" href="#" data-filter="*">Todos</a></li>
                <li><a href="#" data-filter=".secretaria" class="">Secretarias</a></li>
                <li><a href="#" data-filter=".departamento" class="">Departamentos</a></li>
            </ul>
        </div>


        <div class="row">

            <div class="features unidades-items">
                @foreach (dynamic item in Model.Unidades)
                {
                    <div class="col-md-4 col-sm-6 unidades-item @item.Tipo" >
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa @item.Imagem"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">@item.Nome</h4>
                                <p>Responsável: <em><b> @item.Responsavel</b></em> <br />@item.Endereco <br />Fone: <b>@item.Telefone</b></p>
                            </div>
                        </div>
                    </div>
                }

                
            </div>
        </div>

        <div class="divider"></div>

    </div>
</section><!--/#meet-team-->
